// .usersList {
// 	background: #43d3c5;
// 	-webkit-box-flex: 1;
// 	flex: 1 1 auto;
// 	height: 100%;
// 	border-top-left-radius: 4px;
// 	border-bottom-left-radius: 4px;
// }

aside {
	background: #43d3c5;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	height: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.users-heading {
	text-align: center;
	padding: 10px 60px;
}
