$bg-color: #2ec4b6;

$inbox-primary: #edf2f4;
$inbox-secondary: #dd7373;
$inbox-width: 750px;
$inbox-height: 550px;
$inbox-radius: 6px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	background: #3b3561;
	overflow-x: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: scroll;
}

.inbox {
	background: $inbox-primary;
	width: $inbox-width;
	height: $inbox-height;
	display: flex;
	border-radius: $inbox-radius;
	word-wrap: break-word;
	// Aside Styles
	aside {
		background: $inbox-secondary;
		flex: 1 1 auto;
		border-top-left-radius: $inbox-radius;
		border-bottom-left-radius: $inbox-radius;
		.avatar {
			width: 30px;
			height: 30px;
			border: 2px solid #fff;
			border-radius: 100%;
		}
		// Li Elements In Aside
		li {
			background: darken($inbox-secondary, 3%);
			list-style: none;
			color: #fff;
			display: flex;
			justify-content: space-between;
			padding: 0 2em;
			align-items: center;
			height: 5em;
			font-size: 0.8em;
			border-bottom: 1px solid lighten($inbox-secondary, 2%);
			border-top-left-radius: $inbox-radius;
			&:hover {
				background: darken($inbox-secondary, 5%);
			}
		}
	}
	// Our Main Content Where Conversations Will Be Listed
	main {
		background: $inbox-primary;
		height: 100%;
		flex: 1 1 70%;
		border-top-right-radius: $inbox-radius;
		border-bottom-right-radius: $inbox-radius;
		transform: scale(1.035);
		.message-wrap {
			height: 88%;
			overflow-y: scroll;
		}
		.message {
			background: #1982fc;
			width: 60%;
			min-height: 16%;
			font-size: 1.3em;
			margin: 1em 0 1rem 12.4rem;
			padding: 1em;
			border-radius: 20px;
			opacity: 1;
			transition: opacity ease-in-out .45s;
			p {
				font-size: 0.68em;
				color: #fff;
				font-weight: 300;
			}
			// img {
			// 	width: 30px;
			// 	height: 30px;
			// 	border-radius: 100%;
			// 	transform: translateX(-70px) translateY(-20px);
			// 	float: left;
			// }
			// &:nth-of-type(even) {
			// 	background: darken($inbox-secondary, 6%);

			// }
		}
		// Our Footer To Our Main Content, Contains The Submit Form
		footer {
			background-color: $inbox-primary;
			height: 12%;
			width: 100%;
			display: flex;
			align-items: center;
			border-top: 1px solid darken($inbox-primary, 4%);
			input[type="text"] {
				border: none;
				background: transparent;
				padding: 0.8em;
				outline: none;
				color: #aaa;
				width: 100%;
			}
			button {
				background: $inbox-secondary;
				color: #fff;
				width: 17%;
				border-radius: 4px;
				padding: 0.8em;
				margin: 0 1em;
				border: none;
				cursor: pointer;
				appearance: none;
			}
			form {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

.mg {
	margin: 1em 1em !important;
	background: #858585 !important;
}

// Custom Scrollbars
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
}
