$inbox-primary: #edf2f4;
$inbox-secondary: #dd7373;

footer {
	background-color: $inbox-primary;
	height: 12%;
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 1px solid darken($inbox-primary, 12%);
	input[type="text"] {
		border: none;
		font-size: 1.1em;
		background: transparent;
		padding: 0.8em;
		outline: none;
		color: #343d46;
		width: 100%;
	}
	button {
		background: $inbox-secondary;
		color: #fff;
		width: 17%;
		border-radius: 4px;
		padding: 0.8em;
		margin: 0 1em;
		border: none;
		cursor: pointer;
		appearance: none;
	}
	form {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
