.pb {
	padding-bottom: 0.4rem;
	text-transform: capitalize;
}

.mg {
	margin: 1em 1em !important;
	background: #43cc47 !important;
}

.sent-by-admin {
	margin: 1em 1em !important;
	background: #c62828 !important;
}
