$bg-color: #2ec4b6;

$inbox-primary: #edf2f4;
$inbox-secondary: #dd7373;
$inbox-width: 750px;
$inbox-height: 550px;
$inbox-radius: 6px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	overflow-x: hidden;
}

.mg {
	margin: 1em 1em !important;
	background: #43cc47 !important;
}

// Custom Scrollbars
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
}
